.gallery {
  height: 100%;
  margin-left: 35rem;

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 4.2rem;
    font-size: 4.8rem;
    line-height: 4.8rem;
    text-align: center;

    a {
      font-family: 'Great Vibes', cursive;
      color: #9ec49f;
    }
  }

  &__image {
    width: 40%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    margin-left: 0;

    &__wrapper {
      padding: 5rem;
    }
  }
}
@media screen and (max-width: 425px) {
  .gallery {
    &__title {
      font-size: 6rem;
      line-height: 6rem;

      a {
        font-size: 6rem;
        line-height: 6rem;
      }
    }

    &__image {
      width: 80%;
    }
  }
}
