<div class="gallery">
  <div class="gallery__wrapper">
    <h1 class="gallery__title">
      A képeket
      <a
        href="https://drive.google.com/drive/folders/1ogvFcpsnr7cThv2ZQKUdOPu4bveNJDPK?usp=sharing"
        target="_blank"
        >ide</a
      >
      kattintva tudod megnézni!
    </h1>
    <img
      class="gallery__image"
      src="../../../assets/images/camera.png"
      alt="Camera Vector Image"
    />
  </div>
</div>
