.gallery {
  height: 100%;
  margin-left: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__no-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__no-images__text {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 10rem;
}

.gallery__no-images__image {
  width: 20rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .gallery {
    margin: 0;
  }
  .gallery__no-images__image {
    width: 30rem;
  }
  .gallery__no-images__text {
    margin-top: 5rem;
    font-size: 5rem;
  }
}

@media screen and (max-width: 425px) {
  .gallery {
    padding-top: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/*# sourceMappingURL=gallery.component.css.map */