@import "./src/config";
@import "./src/variables";

.location {
  padding: 3rem;
  margin-left: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    &__text {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-shadow: 0px 2px 8px #f0f0f0;
      padding: 0 6rem;

      &__title {
        font-size: 5rem;
      }
      &__address {
        line-height: 1;
        letter-spacing: 0.1rem;
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }
      &__sub {
        font-size: 1.6rem;
        font-family: "Raleway";
      }
    }
  }

  &__slideshow {
    pointer-events: none;

    &.loaded {
      pointer-events: all;
    }

    &__row {
      height: 15rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &__image {
        height: 100%;
        width: 20rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: all 0.5s ease-in-out;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
            opacity: 1 !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0;
    padding-top: 12rem;

    &__slideshow {
      div:first-child {
        height: 14rem !important;

        div {
          width: 22rem;

          img {
            opacity: 1 !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 425px) {
    &__intro {
      &__text {
        &__title {
          font-size: 8rem;
          white-space: nowrap;
        }
        &__address {
          font-size: 2.8rem;
        }
        &__sub {
          font-size: 2.4rem;
        }
      }
    }
    padding-top: 16rem;
    &__slideshow {
      margin-top: 2rem;
      div:first-child {
        height: 13rem !important;

        div {
          width: 22rem;

          img {
            opacity: 1 !important;
          }
        }
      }
    }
  }
  @media screen and (max-width: 320px) {
    .location__intro__text__sub {
      font-size: 2rem;
    }
    .location__slideshow {
      margin-top: 0;
    }
    &__slideshow {
      margin-top: 5rem !important;
      div:first-child {
        height: 12rem !important;
        div {
          width: 19rem;
        }
      }
    }
  }
}
