<div class="location">
  <div class="location__intro">
    <div class="location__intro__text">
      <h1 class="location__intro__text__title">Dunai Csónakház</h1>
      <h4 class="location__intro__text__address">
        1203 Budapest, Vízisport u. 12-18.
      </h4>
      <p class="location__intro__text__sub">
        Esküvőnk helyszíne a Dunai Csónakház, ami egy épületben található a
        VakVarjú étteremmel. A bejáratnál található parkoló az étteremhez
        tartozik, de pár méterrel arrébb egy számotokra fenntartott őrzött
        parkoló található. Ha autóval érkeztek, kérünk kövessétek a táblákat és
        ott álljatok meg!
      </p>
    </div>
  </div>
  <div class="location__slideshow" #slideshow>
    <div lightbox-group class="location__slideshow__row">
      <div
        *ngFor="let image of locationImages"
        class="location__slideshow__row__image"
      >
        <img
          [src]="image.src"
          [ngStyle]="{ opacity: image.opacity }"
          lightbox
          [backgroundOpacity]="0.9"
          [closeButtonText]="'Bezárás'"
        />
      </div>
    </div>
  </div>
</div>
