@import "./src/config";
@import "./src/variables";

.rsvp {
  width: 100%;
  height: 90%;
  min-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 30rem;

  &__text {
    text-align: center;
    &__title {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    &__body {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }

    hr {
      margin-bottom: 2rem;
    }
  }

  &__container {
    width: 75%;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: rgba($color: #f5f5f5, $alpha: 0.7);
    border: 0.1rem solid #e4e4e4;
    border-radius: 0.3rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;

    &.submitted {
      opacity: 0;
      position: absolute;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      &__title {
        font-size: 1.8rem;
        min-width: 17rem;
      }

      &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;

        &.guests {
          margin-left: -3rem;
          input {
            width: 100%;
          }
        }

        label {
          margin-left: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          input {
            margin-left: 1rem;
          }
        }

        select {
          cursor: pointer;
          padding: 0 2rem;
        }

        &.cannot-attend {
          label {
            margin-bottom: 2rem;
          }

          input {
            width: 35rem;
          }
        }
      }
    }
    textarea {
      width: 100%;
      min-height: 5rem;
      border: none;
      border-radius: 1rem;
      padding: 1rem;
      resize: none;
      font-family: "Roboto Condensed", sans-serif !important;
    }

    &__button {
      position: relative;
      width: 10rem;
      height: 3rem;
      margin: auto;
      border: none;
      border-radius: 1rem;
      background-color: $white;
      color: $main;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      overflow: hidden;

      &::before {
        content: "Küldés";
        position: absolute;
        top: 0.7rem;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
      }
      &::after {
        content: "Küldés";
        position: absolute;
        top: 0.7rem;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
      }

      @media (hover: hover) {
        &:hover {
          &::before {
            transform: translateX(0);
          }
          &::after {
            transform: translateX(100%);
          }
        }
      }

      &:disabled {
        pointer-events: none;
        background-color: $grey;
      }
    }
  }

  &__submitted {
    max-width: 65rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 48rem;

    &__response {
      background-color: rgba($color: #f5f5f5, $alpha: 0.7);
      border: 0.1rem solid #e4e4e4;
      border-radius: 0.3rem;
      padding: 3rem;
      opacity: 0;
      position: absolute;
      pointer-events: none;
      transition: all 0.3s ease-in-out;

      &__name {
        margin-bottom: 2rem;
        font-size: 4rem;
      }

      h1 {
        text-align: center;
      }

      &__text {
        font-size: 3rem;
        font-family: "Roboto Condensed", sans-serif;
      }

      &.active {
        opacity: 1;
        position: relative;
        pointer-events: all;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-left: 0;
    padding-top: 8rem;
  }

  @media screen and (max-width: 425px) {
    width: 95%;
    margin: auto;
    display: block;
    padding-top: 12rem;
    &__container {
      width: auto;
    }
    &__text {
      &__title {
        font-size: 5rem;
      }

      &__body {
        font-size: 2.4rem;
        margin-bottom: 2rem;
      }

      hr {
        margin-bottom: 2rem;
      }
    }

    &__form__button {
      height: 7rem;
      width: 14rem;
      &::after {
        top: 1.9rem;
      }
    }

    &__form-group {
      margin-bottom: 3rem;
      flex-direction: column;
      &__title {
        font-size: 2.4rem;
        white-space: nowrap;
      }

      &__container {
        margin-left: 0 !important;
        margin-top: 1rem;

        label {
          margin: 0;
          margin-right: 2rem;
          font-size: 2.6rem;
          text-align: center;
          input {
            height: 5rem;
            padding-left: 1rem;
          }
        }
      }

      textarea {
        min-height: 11rem;
      }

      &.guests {
        margin-bottom: 1rem;
      }

      &.guests:last-child {
        margin-bottom: 3rem;
      }
    }

    &__submitted {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;

      &__response {
        &__name {
          font-size: 6rem !important;
        }
        &__text {
          font-size: 4rem !important;
        }
      }
    }
  }
}
