<div class="rsvp">
  <div class="rsvp__container" #mainContainer>
    <section class="rsvp__text">
      <h1 class="rsvp__text__title">R.S.V.P.</h1>
      <p class="rsvp__text__body">
        Kérlek jelezzetek vissza nekünk legkésőbb július 31-ig, hogy részt
        tudtok-e venni az esküvőn, és amennyiben igen, van-e bármi
        ételallergiátok vagy diétátok, amit szeretnétek, hogy figyelembe
        vegyünk!
      </p>
      <hr />
    </section>
    <form #rsvpForm="ngForm" (ngSubmit)="onSubmit(rsvpForm)" class="rsvp__form">
      <div class="rsvp__form-group canAttend">
        <h3 class="rsvp__form-group__title">Jöttök az esküvőre?</h3>
        <div class="rsvp__form-group__container">
          <label>
            Igen, ott leszünk!
            <input
              ngModel
              type="radio"
              name="canAttend"
              id="yes"
              value="yes"
              required
            />
          </label>
          <label>
            Nem, nem tudunk ott lenni!
            <input
              ngModel
              type="radio"
              name="canAttend"
              id="no"
              value="no"
              required
            />
          </label>
        </div>
      </div>
      <div class="rsvp__form-group numberOfGuests" *ngIf="canAttend === 1">
        <h3 class="rsvp__form-group__title">Hányan jöttök?</h3>
        <div class="rsvp__form-group__container">
          <select ngModel name="numberOfGuests" id="numberOfGuests">
            <option value="" selected disabled hidden>1</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
      <div *ngIf="canAttend === 1">
        <div
          class="rsvp__form-group guests"
          *ngFor="let guest of guests; let i = index"
        >
          <div class="rsvp__form-group__container guests">
            <label>
              Név:
              <input
                ngModel
                type="text"
                name="name {{ i }}"
                id="name"
                required
              />
            </label>
            <label>
              Étel preferencia:
              <input
                ngModel
                type="text"
                name="preference {{ i }}"
                id="preference"
                placeholder="nincs"
              />
            </label>
          </div>
        </div>
      </div>
      <div
        class="rsvp__form-group__container cannot-attend"
        *ngIf="canAttend === -1"
      >
        <label>
          Név:
          <input
            ngModel
            type="text"
            name="cannotAttendName"
            id="cannotAttendName"
            required
          />
        </label>
      </div>
      <div class="rsvp__form-group message" *ngIf="choiceMade">
        <textarea
          name="message"
          id="message"
          placeholder="Ha bármit üzennél nekünk"
          ngModel
        ></textarea>
      </div>
      <button
        class="rsvp__form__button"
        type="submit"
        [disabled]="!rsvpForm.form.valid"
      ></button>
    </form>
  </div>
</div>
<div class="rsvp__submitted">
  <div class="rsvp__submitted__response" #submitMessageYes>
    <h1 class="rsvp__submitted__response__name">Kedves {{ names }} !</h1>
    <h1 class="rsvp__submitted__response__text">
      Köszönjük szépen a visszajelzést, örülünk, hogy Ti is ott lesztek velünk!
    </h1>
  </div>
  <div class="rsvp__submitted__response" #submitMessageNo>
    <h1 class="rsvp__submitted__response__name">Kedves {{ names }} !</h1>
    <h1 class="rsvp__submitted__response__text">
      Köszönjük szépen a visszajelzést, nagyon sajnáljuk, hogy nem tudtok
      eljönni!
    </h1>
  </div>
</div>
