body {
  margin: 0;
  padding: 0;
}

.main-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  max-width: 1000px;
}

.scroll-outer {
  height: 100%;
}

.card-container {
  height: 100%;
  background: #2196F3;
}

.card-container h3 {
  padding: 25px;
}

.scroll-container {
  width: 25px;
  top: 25%;
  right: 12%;
  opacity: 0.7;
  position: fixed;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.scroll-container:hover {
  opacity: 1;
}

.step-section {
  padding: 8px;
  display: flex;
  flex-direction: row;
  background-color: cream;
  justify-content: flex-start;
}

.vertical-nav {
  position: relative;
}

.step-section .circle {
  background-color: white;
  border: 4px solid red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.step-section.completed .circle {
  visibility: visible;
  border-color: black;
}

.step-section.active .circle {
  visibility: visible;
  border-color: black;
}

.step-section.empty .circle {
  visibility: hidden;
}
/*# sourceMappingURL=app.component.css.map */