.image-view {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-view__container {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
}

.image-view__container__image {
  height: 100%;
  cursor: zoom-out;
}
/*# sourceMappingURL=image-handler.component.css.map */