/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url(~fullpage.js/dist/fullpage.min.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  outline: none;
  font-weight: 400;
}

html {
  font-size: 10px;
  font-family: "Alegreya", serif;
  height: 100%;
}

body {
  height: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/*# sourceMappingURL=styles.css.map */
