.info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 30rem;

  &__container {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &--inner {
      background-image: url("../../../assets/images/Info/envelope.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 80%;
      min-width: 85.6rem;
      max-width: 85.6rem;
      height: 80%;
      position: absolute;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 7rem;
      padding-left: 4rem;
      padding-right: 15rem;
    }

    &.loaded {
      opacity: 1;
      transform: rotate(-5deg);
    }
  }

  &__greeting {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 2.8rem;
    line-height: 1.3;
    letter-spacing: 3px;
    text-align: left;

    &.an-1 {
      max-width: 49rem;
    }

    &.an-2 {
      margin-top: 2rem;
      max-width: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .info {
    &__container {
      width: 90%;
      height: 90%;
    }
  }
}

@media screen and (max-width: 768px) {
  .info {
    padding: 0;
    padding-top: 10rem;
    &__container {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 570px) {
  .info {

    &__greeting {
      font-size: 2.8rem;
    }

    &__text {
      font-size: 2.2rem;

      &.an-1 {
        max-width: 40rem;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .info {
    &__container {
      transform: none !important;
      &--inner {
        min-width: 0;
        max-width: 100vw;
        background: none !important;
        display: block;
        position: relative;
        text-align: center;
        margin-top: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
      }
    }
    &__greeting {
      font-size: 4.8rem;
    }
    &__text {
      font-size: 3rem;
      text-align: center;
      max-width: none !important;
      margin: auto;
      font-family: "Roboto Condensed", sans-serif;
      letter-spacing: normal;
    }
  }
}
