.info {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 30rem;
}

.info__container {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__container--inner {
  background-image: url("../../../assets/images/Info/envelope.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  min-width: 85.6rem;
  max-width: 85.6rem;
  height: 80%;
  position: absolute;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 7rem;
  padding-left: 4rem;
  padding-right: 15rem;
}

.info__container.loaded {
  opacity: 1;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.info__greeting {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.info__text {
  font-size: 2.8rem;
  line-height: 1.3;
  letter-spacing: 3px;
  text-align: left;
}

.info__text.an-1 {
  max-width: 49rem;
}

.info__text.an-2 {
  margin-top: 2rem;
  max-width: none;
}

@media screen and (max-width: 1024px) {
  .info__container {
    width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 768px) {
  .info {
    padding: 0;
    padding-top: 10rem;
  }
  .info__container {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 570px) {
  .info__greeting {
    font-size: 2.8rem;
  }
  .info__text {
    font-size: 2.2rem;
  }
  .info__text.an-1 {
    max-width: 40rem;
  }
}

@media screen and (max-width: 425px) {
  .info__container {
    -webkit-transform: none !important;
            transform: none !important;
  }
  .info__container--inner {
    min-width: 0;
    max-width: 100vw;
    background: none !important;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
  }
  .info__greeting {
    font-size: 4.8rem;
  }
  .info__text {
    font-size: 3rem;
    text-align: center;
    max-width: none !important;
    margin: auto;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: normal;
  }
}
/*# sourceMappingURL=info.component.css.map */