<div class="info">
  <div class="info__container" #container>
    <div class="info__container--inner">
      <h1 class="info__greeting">Kedves Családunk és Barátaink!</h1>
      <h1 class="info__text an-1">
        Mindenkit sok szeretettel várunk szeptember 17-én, péntek délután a
        Dunai Csónakházban, reméljük, hogy a nagy napunkon Ti is velünk fogtok
        ünnepelni!
      </h1>
      <h1 class="info__text an-2">
        Ceremóniánk 5 óra után kezdődik, de már 4 órától számítunk Rátok
        vendégváró falatokkal. A következő oldalon kérünk, jelezzetek vissza
        részvételi szándékotokról!
      </h1>
    </div>
  </div>
</div>
