<div class="sidebar" #sidebar>
  <div class="sidebar__top-left-logo" (click)="goToHomePage()">
    <div class="sidebar__top-left-logo__container">
      <img
        class="sidebar__top-left-logo__vector"
        src="../../../assets/images/rings.png"
        alt="rings"
      />
      <div class="sidebar__top-left-logo__text">
        <h1 class="sidebar__top-left-logo__text__title">Noémi és Bence</h1>
      </div>
    </div>
  </div>
  <div class="sidebar__list">
    <div class="sidebar__list__container">
      <a href="#info" class="sidebar__list__item info"> Infó </a>
    </div>
    <div class="sidebar__list__container">
      <a href="#rsvp" class="sidebar__list__item rsvp"> RSVP </a>
    </div>
    <div class="sidebar__list__container">
      <a href="#helyszin" class="sidebar__list__item location"> Helyszín </a>
    </div>
    <div class="sidebar__list__container">
      <a href="#megkozelithetoseg" class="sidebar__list__item approach">
        Megközelíthetőség
      </a>
    </div>
    <div class="sidebar__list__container">
      <a href="#ajandek" class="sidebar__list__item presents"> Nászajándék </a>
    </div>
    <div class="sidebar__list__container">
      <a href="#vacsora-menu" class="sidebar__list__item menu">
        Vacsora Menü
      </a>
    </div>
    <div class="sidebar__list__container">
      <a href="#galeria" class="sidebar__list__item gallery"> Galéria </a>
    </div>
  </div>
</div>
<div class="navbar">
  <div class="navbar__logo" (click)="goToHomePage()">
    <img
      class="sidebar__top-left-logo__vector"
      src="../../../assets/images/rings.png"
      alt="rings"
    />
    <div class="sidebar__top-left-logo__text">
      <h1 class="sidebar__top-left-logo__text__title">Noémi és Bence</h1>
    </div>
  </div>
  <div class="burger burger-slip" (click)="toggleMenu($event)" #burger>
    <div class="burger-lines"></div>
  </div>
  <div class="navbar__mobile-menu__container" #mobileMenu>
    <div class="navbar__mobile-menu">
      <ul>
        <li (click)="toggleMenu($event)">
          <a href="#info" class="sidebar__list__item info"> Infó </a>
        </li>
        <li (click)="toggleMenu($event)">
          <a href="#rsvp" class="sidebar__list__item rsvp"> RSVP </a>
        </li>
        <li (click)="toggleMenu($event)">
          <a href="#helyszin" class="sidebar__list__item location">
            Helyszín
          </a>
        </li>
        <li (click)="toggleMenu($event)">
          <a href="#megkozelithetoseg" class="sidebar__list__item approach">
            Megközelíthetőség
          </a>
        </li>
        <li (click)="toggleMenu($event)">
          <a href="#ajandek" class="sidebar__list__item menu"> Nászajándék </a>
        </li>
        <li (click)="toggleMenu($event)">
          <a href="#vacsora-menu" class="sidebar__list__item menu">
            Vacsora Menü
          </a>
        </li>
        <li (click)="toggleMenu($event)">
          <a href="#galeria" class="sidebar__list__item gallery"> Galéria </a>
        </li>
      </ul>
    </div>
  </div>
</div>
