@import "./src/config";
@import "./src/variables";

.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 30rem;
  padding: 3.5rem;
  z-index: 1;
  transition: all 0.7s ease-in-out;
  transform: translateX(-50rem);

  &__top-left-logo {
    position: relative;
    z-index: 999;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 5rem;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__vector {
      width: 3rem;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__title {
        font-size: 3.4rem;
      }
    }
  }

  &__list {
    height: 100%;
    position: absolute;
    top: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container {
      margin-bottom: 1.5rem;
    }

    &__item {
      position: relative;
      text-decoration: none;
      list-style: none;
      font-size: 3rem;
      cursor: pointer;
      color: $main;
      margin-left: 5rem;
      white-space: nowrap;
      transition: all 0.3s ease-in-out;

      &::before {
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: -4rem;
        width: 3rem;
        height: 3rem;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &.info {
        &::before {
          background-image: url("../../assets/icons/iconfinder_Artboard_1470_2884801.svg");
        }
      }
      &.rsvp {
        &::before {
          background-image: url("../../assets/icons/rsvp.svg");
        }
      }
      &.location {
        &::before {
          background-image: url("../../assets/icons/iconfinder_Artboard_1476_2884797.svg");
        }
      }
      &.approach {
        &::before {
          background-image: url("../../assets/icons/iconfinder_Artboard_1527_2884790.svg");
        }
      }
      &.presents {
        &::before {
          background-image: url("../../assets/icons/icon-presents.svg");
        }
      }
      &.menu {
        &::before {
          background-image: url("../../assets/icons/iconfinder_Artboard_1544_2884785.svg");
        }
      }
      &.gallery {
        &::before {
          background-image: url("../../assets/icons/iconfinder_Artboard_1465_2884802.svg");
        }
      }

      &:hover,
      &.active {
        color: #bebebe;
      }
    }
  }
}

.navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  max-height: 10rem;
  padding: 0 5rem;
  border-bottom: 0.1rem solid $main;
  z-index: 9999;
  background-color: #d4d3d3;

  .burger {

    &.open {
      .burger-lines {
          background-color: transparent !important;
      }
    }

    &-lines {
      background-color: $main;

      &::before,
      &::after {
        background-color: $main;
      }
    }
  }

  &__logo {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__mobile-menu {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        margin: 2.5rem;
      }
    }

    &__container {
      position: absolute;
      top: 10rem;
      right: 0;
      width: 40vw;
      height: 100vh;
      z-index: 9999;
      display: flex;
      background-color: white;
      transform: translateX(50rem);
      transition: all 0.3s ease-in-out;
      background-color: #d4d3d3;
      border-left: 0.1rem solid $main;

      &.open {
        transform: translateX(0);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .navbar {
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    &__mobile-menu {
      &__container {
        width: 70vw;
        transform: translateX(70rem);
      }

      .sidebar__list__item {
        font-size: 4.5rem;
      }
    }

    .burger {
      &-lines {
        &::before {
          top: 1.5rem;
        }

        &::after {
          top: -1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    &__mobile-menu {
      &__container {
        width: 70vw;
      }
    }
  }
}
