@import "./src/config";
@import "./src/variables";

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 5px #eeeeee;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: default;

  &__permanent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;

    &__vector {
      width: 15rem;
      margin-top: 3rem;
    }

    &__text {
      font-size: 7rem;
      line-height: 12rem;
    }
  }

  &__subtext {
    font-size: 2.6rem;
  }

  &__countdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;

    & > span {
      margin: 0 2rem;
    }
  }

  &__divider {
    width: 5rem;
    border-bottom: 0.1rem solid $main;
    margin: 2rem 0;
  }

  &__icon-scroll,
  &__icon-scroll::before {
    position: absolute;
    left: 50%;
  }

  &__icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 90%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 2px $main;
    border-radius: 25px;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background: $main;
      margin-left: -4px;
      top: 8px;
      border-radius: 4px;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-name: scroll;
    }
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@media screen and (max-width: 768px) {
  .welcome {
    padding-top: 10rem;
  }
}

@media screen and (max-width: 425px) {
  .welcome {
    &__permanent {
      margin: 15rem 2rem 0 2rem;

      &__text {
        font-size: 6rem;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .welcome {
    &__permanent {
      &__text {
        font-size: 5rem;
      }
    }
  }
}
