<div class="main">
  <div class="welcome">
    <div class="welcome__permanent">
      <img
        class="welcome__permanent__vector"
        src="../../../assets/images/rings.png"
        alt="rings"
      />
      <div class="welcome__permanent__text">
        <h1>Noémi és Bence</h1>
      </div>
    </div>
    <div class="welcome__subtext">
      <h2>2021.09.17. Péntek - Dunai Csónakház</h2>
    </div>
    <!-- <hr class="welcome__divider" />
    <div *ngIf="countdown" class="welcome__countdown">
      <h3>{{ countdown }} múlva találkozunk!</h3>
    </div> -->
  </div>
  <div class="welcome__icon-scroll"></div>
</div>
