.dinner-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35rem;
  padding: 5rem;
  position: relative;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../../assets/dinner-menu/menu-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .splide {
    position: static;
    width: 100%;
    padding: 0 12rem;

    &__track {
      display: flex;
      justify-content: center;
      transform: rotate(1deg);
    }

    &__list {
      max-width: 100%;
    }
    &__arrow--next,
    &__arrow--prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 99;
      width: 3rem;
      height: 3rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      cursor: pointer;
      background-color: transparent;
    }

    &__arrow--next {
      right: 8rem;
      background-image: url("../../../assets/icons/next-arrow.svg");
    }

    &__arrow--prev {
      left: 8rem;
      background-image: url("../../../assets/icons/previous-arrow.svg");
    }
  }

  &__nav {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    &.previous {
      background-image: url("../../../assets/icons/previous-arrow.svg");
      left: 3rem;
    }
    &.next {
      background-image: url("../../../assets/icons/next-arrow.svg");
      right: 3rem;
    }
  }

  &__scroll {
    width: 100%;
  }

  &__course {
    margin: auto;
    width: 100%;
    text-align: center;
    cursor: grab;
    padding: 0 2rem;

    &__name {
      font-size: 6rem;
      margin-bottom: 3rem;
    }

    &__items {
      font-size: 2.2rem;
      white-space: pre-wrap;
    }

    &__divider {
      margin: 1rem auto 1rem auto;
      width: 10%;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0;
    margin-top: 20rem;
  }

  @media screen and (max-width: 425px) {
    .splide {
      &__arrow {
        width: 5rem;
        height: 5rem;
      }
    }

    &__course {
      &__name {
        font-size: 10rem;
      }

      &__items {
        font-size: 3rem;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .splide {
      &__arrow {
        width: 3rem;
        height: 3rem;
      }
    }

    &__course {
      &__name {
        font-size: 6rem;
      }

      &__items {
        font-size: 2.6rem;
      }
    }
  }
}
