<div class="dinner-menu">
  <div class="dinner-menu__bg"></div>
  <div class="splide" id="splide">
    <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev"></button>
      <button class="splide__arrow splide__arrow--next"></button>
    </div>
    <div class="splide__track">
      <ul class="splide__list">
        <li class="dinner-menu__course splide__slide">
          <h1 class="dinner-menu__course__name">Leves</h1>
          <p class="dinner-menu__course__items">
            Falusi tyúkhúsleves csigatésztával, zöldségekkel (L)
          </p>
        </li>
        <li class="dinner-menu__course splide__slide">
          <h1 class="dinner-menu__course__name">Főételek</h1>
          <p class="dinner-menu__course__items">
            Kemencés kacsasült házi lilahagymalekvárral (GL, L)
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Sült paprikás kecskesajttal töltött jércemell bundában
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Mangalicasült friss tökös lecsóval (GL, L)
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Gemenci vörösboros vadpörkölt (GL, L)
          </p>
        </li>
        <li class="dinner-menu__course splide__slide">
          <h1 class="dinner-menu__course__name">Vegetáriánus</h1>
          <p class="dinner-menu__course__items">
            Vegyes zöldségfasírt fűszeres raita szósszal (gombamentes, GL, L,
            vegán)
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Majorannás sült burgonya (GL, L)
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Párolt zöldfűszeres rizs (GL, L)
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Fűszeres vajon párolt zöldségek (GL)
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">Vajas házi galuska</p>
        </li>
        <li class="dinner-menu__course splide__slide">
          <h1 class="dinner-menu__course__name">Saláták</h1>
          <p class="dinner-menu__course__items">
            Friss vegyes vágott kiskerti zöldségek (GL, L) öntetekkel
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">Tejfeles uborkasaláta (GL)</p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Uborkasaláta (GL) külön tálalt tejföllel
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Ananászos coleslaw saláta (GL, L)
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Vegyes házi savanyúságok (GL, L)
          </p>
        </li>
        <li class="dinner-menu__course splide__slide">
          <h1 class="dinner-menu__course__name">Desszertek</h1>
          <p class="dinner-menu__course__items">
            Maracujás – málnás mini tarte
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">Mini fudgy csokoládészelet</p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">Sóskaramell mousse</p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">Citromos habcsók</p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Dupla csokis cupcake triplacsokis kekszgolyókkal
          </p>
          <hr class="dinner-menu__course__divider" />
          <p class="dinner-menu__course__items">
            Matcha tortafalatok by Naspolya (GL, L, cukormentes, vegán)
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
