.dinner-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35rem;
  padding: 5rem;
  position: relative;
}

.dinner-menu__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../../assets/dinner-menu/menu-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dinner-menu .splide {
  position: static;
  width: 100%;
  padding: 0 12rem;
}

.dinner-menu .splide__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.dinner-menu .splide__list {
  max-width: 100%;
}

.dinner-menu .splide__arrow--next, .dinner-menu .splide__arrow--prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 3rem;
  height: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dinner-menu .splide__arrow--next {
  right: 8rem;
  background-image: url("../../../assets/icons/next-arrow.svg");
}

.dinner-menu .splide__arrow--prev {
  left: 8rem;
  background-image: url("../../../assets/icons/previous-arrow.svg");
}

.dinner-menu__nav {
  position: absolute;
  top: 15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.dinner-menu__nav.previous {
  background-image: url("../../../assets/icons/previous-arrow.svg");
  left: 3rem;
}

.dinner-menu__nav.next {
  background-image: url("../../../assets/icons/next-arrow.svg");
  right: 3rem;
}

.dinner-menu__scroll {
  width: 100%;
}

.dinner-menu__course {
  margin: auto;
  width: 100%;
  text-align: center;
  cursor: -webkit-grab;
  cursor: grab;
  padding: 0 2rem;
}

.dinner-menu__course__name {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.dinner-menu__course__items {
  font-size: 2.2rem;
  white-space: pre-wrap;
}

.dinner-menu__course__divider {
  margin: 1rem auto 1rem auto;
  width: 10%;
}

@media screen and (max-width: 768px) {
  .dinner-menu {
    margin: 0;
    margin-top: 20rem;
  }
}

@media screen and (max-width: 425px) {
  .dinner-menu .splide__arrow {
    width: 5rem;
    height: 5rem;
  }
  .dinner-menu__course__name {
    font-size: 10rem;
  }
  .dinner-menu__course__items {
    font-size: 3rem;
  }
}

@media screen and (max-width: 375px) {
  .dinner-menu .splide__arrow {
    width: 3rem;
    height: 3rem;
  }
  .dinner-menu__course__name {
    font-size: 6rem;
  }
  .dinner-menu__course__items {
    font-size: 2.6rem;
  }
}
/*# sourceMappingURL=dinner-menu.component.css.map */