<app-navigation-bar></app-navigation-bar>
<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section welcome">
    <app-welcome></app-welcome>
  </div>
  <div class="section info">
    <app-info></app-info>
  </div>
  <div class="section rsvp">
    <app-rsvp></app-rsvp>
  </div>
  <div class="section location">
    <app-location></app-location>
  </div>
  <div class="section approachability">
    <app-approachability></app-approachability>
  </div>
  <div class="section presents">
    <app-presents></app-presents>
  </div>
  <div class="section dinner-menu">
    <app-dinner-menu></app-dinner-menu>
  </div>
  <div class="section gallery">
    <app-gallery></app-gallery>
  </div>
</div>
