@import "./src/config";
@import "./src/variables";

.presents {
  margin-left: 35rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    text-align: center;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(245, 245, 245, 0.7);
    border: 0.1rem solid #e4e4e4;
    border-radius: 0.3rem;
    padding: 4rem;
    transition: all 0.3s ease-in-out;
    position: relative;

    &::after {
      content: "";
      width: 20rem;
      height: 20rem;
      position: absolute;
      top: -8.5rem;
      right: -7.5rem;
      background-image: url("../../../assets/images/Presents/ribbon.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(15deg);
    }
  }

  &__title {
    font-size: 6rem;
  }

  &__divider {
    width: 20%;
    border-bottom: 0.2rem solid $main;
    margin: 3rem auto;
  }

  &__text {
    font-size: 2.8rem;
    line-height: 1.5;
    margin-bottom: 3rem;
  }

  &__thanks {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
  }

  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
  @media screen and (max-width: 425px) {
    &__title {
      font-size: 9rem;
    }
    &__text {
      font-size: 3.8rem;
    }
    &__thanks {
      font-size: 5rem;
    }
  }
}
