<div class="presents">
  <div class="presents__container">
    <h1 class="presents__title">Nászajándék</h1>
    <div class="presents__divider"></div>
    <p class="presents__text">
      Ajándékon ne is gondolkozz, <br />
      Magaddal csak jókedvet hozz! <br />
      Borítékban add a menyecske táncnál, <br />
      Amit az esküvőnkre szántál!
    </p>
    <p class="presents__thanks">Köszönjük szépen!</p>
  </div>
</div>
