@import "./src/config";
@import "./src/variables";

.approach {
  height: 100%;
  padding: 3.5rem;
  margin-left: 35rem;
  position: relative;

  &__map {
    flex-basis: 100%;
    height: 100%;
    position: relative;

    &-map {
      width: 100%;
      height: 100%;
      border-radius: 0.3rem;
      border: 0.2rem solid #efefef;
      box-shadow: #000 0 0 7.5rem -3.5rem;
    }
  }

  &__icon-scroll {
    display: none;
  }

  @media screen and (max-width: 768px) {
    margin-left: 0;
    padding-top: 10rem;
    &__map {
      margin-top: 3rem;
      height: 100%;
    }
  }
  @media screen and (max-width: 425px) {
    padding-top: 10rem;
    &__map {
      margin-top: 3rem;
      height: 100%;
    }
  }
}
