@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');
@import './variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  outline: none;
  font-weight: 400;
}

html {
  font-size: 10px;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: $main;
}

body {
  height: 100%;
}

h1 {
  font-family: 'Great Vibes', cursive;
}

h3, a {
  font-family: 'Raleway', sans-serif;
}

@mixin button {
  width: 40rem;
  padding-top: 0.5rem;
  background-color: $white;
  font-family: 'Raleway', sans-serif;
  border: 3px solid $main;
  border-radius: 5px;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: $main;
    color: $white;
  }
}
