/* You can add global styles to this file, and also import other style files */

@import "./config";
@import "./variables";
@import url(~fullpage.js/dist/fullpage.min.css);
@import "../node_modules/@splidejs/splide/dist/css/splide-core.min.css";
@import "./assets/styles.css";

* {
  box-sizing: border-box !important;
}

html,
body {
  min-height: 100%;
  height: 100%;
  font-size: 10px;
}
body {
  margin: 0;
  background-image: url("./assets/images/bgs/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.3s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#fp-nav {
  ul {
    li {
      height: 5rem;
    }
  }

  .fp-tooltip {
    font-size: 4.5rem !important;
    top: 0rem !important;
    margin-left: 0.5rem;
  }
}

.nav-map {
  z-index: auto !important;
  &::after {
    content: "";
    border-radius: 0.5rem;
    position: absolute;
    top: -0.5rem;
    height: 6rem;
    width: 35rem;
    background-image: linear-gradient(to right, $white, $white, transparent);
    z-index: -9999;
  }
}

@media screen and (max-width: 1025px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 5px;
  }
}
